name: Auto Update

on:
  schedule:
    - cron: '0 0,12 * * *'
  workflow_dispatch:

jobs:
  auto_update:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v6.0.2

      - name: Install and cache PowerShell modules
        uses: potatoqualitee/psmodulecache@v6.2.1
        with:
          modules-to-cache: powershell-yaml

      - name: Update Manifests
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          .\tools\AutoUpdate.ps1 -ReturnSources | ForEach-Object {
            $json = $_ | ConvertTo-Json -Compress -AsArray
            gh workflow run create-manifest.yml -f "sources=$([System.Web.HttpUtility]::UrlEncode($json))"
          }
