name: Test Manifests

on:
  push:
    branches:
      - main
    paths:
      - 'manifests/*/*/*.yaml'
  pull_request:

jobs:
  test:
    runs-on: windows-latest
    steps:
      - uses: actions/create-github-app-token@v2.0.6
        id: generate-token
        with:
          app-id: ${{ secrets.APP_ID }}
          private-key: ${{ secrets.APP_PRIVATE_KEY }}

      - uses: actions/checkout@v6.0.0
        with:
          fetch-depth: 0

      - name: Get Modified Manifests
        id: diff
        env:
          BASE_SHA: ${{ github.event_name == 'pull_request' && github.event.pull_request.base.sha || github.event.before }}
          HEAD_SHA: ${{ github.sha }}
        run: |
          $modifiedManifests = git diff --name-only $env:BASE_SHA $env:HEAD_SHA | Where-Object { $_ -like 'manifests/*/*/*.yaml' }
          "modified_manifests=$($modifiedManifests -join ',')" >> $env:GITHUB_OUTPUT

      - name: Remove Existing Label from PR
        if: github.event_name == 'pull_request' && steps.diff.outputs.modified_manifests
        run: gh pr edit $env:NUMBER --remove-label $env:LABELS
        env:
          GH_TOKEN: ${{ steps.generate-token.outputs.token }}
          NUMBER: ${{ github.event.pull_request.number }}
          LABELS: manifest-validated,manifest-validation-failure

      - name: Install and cache PowerShell modules
        if: steps.diff.outputs.modified_manifests
        uses: potatoqualitee/psmodulecache@v6.2.1
        with:
          modules-to-cache: powershell-yaml

      - name: Test Manifests
        if: steps.diff.outputs.modified_manifests
        run: ./tools/TestManifest.ps1 -ManifestPath ($env:MODIFIED_MANIFESTS -split ',')
        env:
          MODIFIED_MANIFESTS: ${{ steps.diff.outputs.modified_manifests }}

      - name: Add Label to PR
        if: github.event_name == 'pull_request' && steps.diff.outputs.modified_manifests && !cancelled()
        run: gh pr edit $env:NUMBER --add-label $env:LABELS
        env:
          GH_TOKEN: ${{ steps.generate-token.outputs.token }}
          NUMBER: ${{ github.event.pull_request.number }}
          LABELS: ${{ job.status == 'success' && 'manifest-validated' || 'manifest-validation-failure' }}
